{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'catdex/catdex_style.css' %}"> 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript">
    
    $(function(){
        $("ul.menu li").mouseover(function(){
            $(">ul",this).slideDown(300);
        }),
        $("ul.menu li").mouseleave(function(){
            $(">ul",this).slideUp("fast");
        });
    });
</script>

    <div class="category_bar">
        <div class="list-group">
            {% for c in categories %}
            <ul class="menu" style="list-style-type: none;">
                <li>{{c.name}}
                    <ul class="sub">
                    {% for sc in subcategories %}
                    {% if sc.category.name == c.name %}
                    <li>
                        <a href="{{sc.get_absolute_url}}" class="list-group-sub" >{{sc.name}}</a>
                    {% endif %}
                    {% endfor %}
                    </ul>
              
            </ul>
            {% endfor %}
        </div>
    </div>
    <div class="content_bar">
        <div class="content-name">
        </div>
        <div class="row">
            {% for cat in cats %}
                <div class="card">
                    <img class="card-img-top" src="{{cat.image.url}}"alt="Cat Image">
                    <div class="card-body">
                        <p class="card-title">{{cat.name}}</p>
                        {% for tag in cat.subcategory.all %}
                            <p class="card-text">{{tag.category}}:{{tag}}</p>
                        {%endfor%}
                        <p class="card-text">{{cat.description|linebreaksbr}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}